.schedule {
  width: 60%;
  margin: 0 auto;
}

.schedule__head {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr 1fr;
  padding: 5px;
  color: white;
  font-weight: 900;
  border-bottom: 1px solid var(--green-light);
}

.schedule__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.schedule__item {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
  color: var(--black);
  font-weight: 900;
  cursor: pointer;
  transition: var(--transition);
}

.schedule__item:hover {
  opacity: 0.5;
}

.schedule__team {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  cursor: pointer;
  transition: var(--transition);
}

.schedule__teamItem {
  display: flex;
  align-items: center;
  justify-self: flex-start;
}

.schedule__teamLogo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media screen and (max-width: 1024px) {
  .schedule__head span {
    font-size: 20px;
  }

  .schedule__teamItem {
    font-size: 14px;
  }

  .schedule__info {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .schedule__head span {
    font-size: 16px;
  }

  .schedule {
    width: 90%;
  }
}
