.match__item {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 3fr 2fr 1fr;
  padding: 10px;
  color: var(--green-light);
  font-weight: 900;
  cursor: pointer;
  transition: var(--transition);
}

.match__item:hover {
  opacity: 0.5;
}

.match__selectedTeam {
  color: var(--red);
}

@media screen and (max-width: 1024px) {
  .match__item {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .match__item {
    grid-template-columns: 2fr 3fr 1fr 3fr 1fr;
    font-size: 14px;
  }

  .match__status {
    display: none;
  }
}
