.matches {
  width: 960px;
  margin: 0 auto;
}

.matches__head {
  display: grid;

  padding: 5px;

  color: white;
  border-bottom: 1px solid var(--green-light);
  grid-template-columns: 2fr 3fr 1fr 3fr 2fr 1fr;
}

.matches__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.matches__team {
  display: flex;
  align-items: center;
  justify-self: flex-start;

  cursor: pointer;
  transition: var(--transition);
}

.matches__logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
