.matches {
  width: 960px;
  margin: 0 auto;
}

.matches__head {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 3fr 2fr 1fr;
  padding: 5px;
  color: white;
  border-bottom: 1px solid var(--green-light);
}

.matches__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.matches__logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.matches__button {
  padding: 7px 10px;
  color: white;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--transition);
}

.matches__button:hover {
  opacity: 0.6;
}

.matches__button_disabled {
  opacity: 0.6;
}
