.competitionlist__link {
  transition: var(--transition);
  text-decoration: none;

  color: inherit;
}

.competitionlist__link:hover {
  opacity: 0.6;
}

.competitionlist__item {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;

  height: 240px;
  padding: 10px 5px;

  color: var(--black);
  border: 2px solid var(--green-light);
  border-radius: 12px;
  background: var(--argentum);
  box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);
}

.competitionlist__itemImg {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.competitionlist__itemName {
  margin: 20px auto 0;

  text-align: center;

  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .competitionlist__itemName {
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (min-width: 320px) and (max-width: 520px) {
  .competitionlist__itemName {
    margin: 5px auto 0;

    font-size: 12px;
    line-height: 17px;
  }
}
