.competitionList__link {
  color: inherit;
  text-decoration: none;
  transition: var(--transition);
}

.competitionList__link:hover {
  opacity: 0.6;
}

.competitionList__item {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  height: 300px;
  padding: 10px 5px;
  color: var(--black);
  background: var(--argentum);
  border: 2px solid var(--green-light);
  border-radius: 12px;
  box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);
}

.competitionList__itemImg {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  object-fit: cover;
}

.competitionList__itemName {
  margin: 20px auto 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.competition__links {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.competition__link {
  display: block;
  padding: 10px;
  background: var(--primary);
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);
  transition: var(--transition);
}

.competition__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .competition__link {
    font-size: 14px;
  }

  .competitionList__item {
    height: 250px;
  }
}

@media screen and (max-width: 768px) {
  .competition__links {
    width: 90%;
  }

  .competition__link {
    padding: 5px;
  }

  .competitionList__itemImg {
    width: 120px;
    height: 120px;
  }
}
