.competitionlist__link {
  transition: opacity 0.5s ease 0s;
  color: inherit;
  text-decoration: none;
}
.competitionlist__link:hover {
  opacity: 0.6;
}

.competitionlist__item {
  padding: 10px 5px 10px;
  height: 240px;
  align-self: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--green-light);
  color: var(--black);
  border-radius: 12px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background: var(--argentum);
}

.competitionlist__itemImg {
  width: 150px;
  height: 150px;
  margin: 0 auto 0;
}

.competitionlist__itemName {
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  margin: 20px auto 0;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .competitionlist__itemName {
    font-size: 14px;
    line-height: 19px;
  }
}
@media screen and (min-width: 320px) and (max-width: 520px) {
  .competitionlist__itemName {
    font-size: 12px;
    line-height: 17px;
    margin: 5px auto 0;
  }
}