.teams {
  width: 50%;
  margin: 0 auto;
}

.teams__head {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding: 5px;
  color: white;
  border-bottom: 1px solid var(--green-light);
}

.teams__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.teams__item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding: 10px;
  color: var(--green-light);
  font-weight: 900;
  cursor: pointer;
  transition: var(--transition);
}

.teams__item:hover {
  opacity: 0.5;
}

.teams__team {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  font-size: 18px;
  cursor: pointer;
  transition: var(--transition);
}

.teams__logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media screen and (max-width: 1024px) {
  .teams__head h2 {
    font-size: 20px;
  }

  .teams__team {
    font-size: 14px;
  }

  .teams__info {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .teams__head h2 {
    font-size: 16px;
  }

  .teams {
    width: 80%;
  }
}
