.teams {
  width: 1160px;
  margin: 0 auto;
}

.teams__wrapper{
}

.teams__head {
  display: grid;

  padding: 5px;

  color: white;
  border-bottom: 1px solid var(--green-light);
  grid-template-columns: 3fr 1fr 1fr;
}

.teams__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.teams__item {
  display: grid;

  padding: 10px;

  cursor: pointer;
  transition: var(--transition);

  color: var(--gray-light);

  font-weight: 900;
  grid-template-columns: 3fr 1fr 1fr;
}

.teams__item:hover {
  opacity: 0.5;
}

.teams__team {
  display: flex;
  align-items: center;
  justify-self: flex-start;

  cursor: pointer;
  transition: var(--transition);
}

.teams__logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
