.searchBar {
  display: flex;
  justify-content: space-between;

  width: 300px;
  margin: 0 auto;
  padding: 15px;
}

@media screen and (min-width: 320px) and (max-width: 520px) {
  .searchBar {
    margin: 0 auto;
  }
}

.searchBar__button {
  padding: 7px 10px;

  cursor: pointer;
  transition: opacity 0.1s ease 0s;
  transition: var(--transition);
  text-align: center;

  color: inherit;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: var(--green);

  font-size: 14px;
  line-height: 19px;
}

.searchBar__button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .searchBar__button {
    padding: 5px 8px;

    font-size: 12px;
    line-height: 17px;
  }
}

.searchBar__button_disabled {
  opacity: 0.6;
}

.searchBar__input {
  min-width: 250px;
  margin-right: 10px;
  padding: 5px;

  border: none;
  border: 1.5px solid #AAA;
  border-radius: 8px;
  outline-style: none;

  font-size: 14px;
  line-height: 19px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .searchBar__input {
    padding: 2px;

    font-size: 12px;
    line-height: 17px;
  }
}

@media screen and (min-width: 320px) and (max-width: 520px) {
  .searchBar__input {
    min-width: 220px;
  }
}
