.searchBar {
  display: flex;
  justify-content: space-between;

  width: 300px;
  margin: 0 auto;
  padding: 15px;
}

.searchBar__button {
  padding: 7px 10px;

  cursor: pointer;
  transition: opacity 0.1s ease 0s;
  transition: var(--transition);
  text-align: center;

  color: inherit;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: var(--green);

  font-size: 14px;
  line-height: 19px;
}

.searchBar__button:hover {
  opacity: 0.6;
}

.searchBar__button_disabled {
  opacity: 0.6;
}

.searchBar__input {
  margin-right: 10px;
  padding: 5px;
  width: 250px;
  border: none;
  border: 1.5px solid #AAA;
  border-radius: 8px;
  outline-style: none;

  font-size: 14px;
  line-height: 19px;
}

@media screen and (max-width: 1024px) {
  .searchBar {
    width: 250px
  }
  .searchBar__input{
    width: 200px
  }
}

