.header {
  padding: 20px 40px;

  color: white;
  background: var(--header-footer);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding: 5px 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding: 4px 12px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.header__linkBox {
  display: flex;
  justify-content: flex-end;

  width: 25%;

  transition: var(--transition);

  font-size: 24px;
  font-weight: 900;
}

.header__linkBox:hover {
  opacity: 0.5;
}

.header__link {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  align-self: center;

  width: 50px;
  height: 50px;
}

.header__title {
  align-self: center;

  text-align: center;
}
