.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 25px;

  color: white;
  background-color: lightslategrey;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.footer__link {
  text-decoration: none;
}

.footer__text {
  display: flex;
  align-self: center;
  justify-content: space-between;

  width: 35%;

  text-align: center;
}
