.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: white;
  background: var(--header-footer);
}

.footer__wrapper {
  display: grid;
  align-items: center;

  width: 100%;
  padding: 25px 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__link {
  margin-left: 15px;
}

.footer__text {
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer__wrapper {
    font-size: 14px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: flex-start;
  }
}
