* {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;

  color: var(--green-light);
}

body {
  background: var(--body);
}

:root {
  /* colors */
  --black: #3B434E;
  --white: white;
  --primary: #7653FC;
  --primary-hover: #5075D5;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-family: "Noto Sans Display", sans-serif;
  --header-footer: linear-gradient(to right, #3A7BD5, #3A6073);
  --body: #64B9B9;
  --aqua: #BDE3DA;
  --argentum: linear-gradient(121.57deg, #FFF 18.77%, rgb(255 255 255 / 66%) 60.15%);

  /* ui */
  --transition: all 0.5s ease-in-out;
}
